@charset "UTF-8";
.header {
  height: 79px;
  width: 100%;
  display: flex;
  position: absolute;
  font-size: 13px;
  line-height: 30px;
  font-family: "Ubuntu";
  font-weight: 500;
  text-transform: uppercase;
}
.header__button {
  margin-top: 29px;
  margin-left: 7px;
  width: 97px;
  height: 35px;
}
.header__logo {
  margin-left: 7%;
  margin-top: 13px;
}

.navigation {
  width: 68%;
}
.navigation__menu {
  display: flex;
  margin-left: 70px;
}
.navigation__menu-item {
  margin-top: 30px;
}
.navigation__menu-item::before {
  content: "•";
  font-size: 13px;
  color: #fff;
  margin-left: 15px;
  margin-right: 12px;
}
.navigation__menu-item:first-child:before {
  content: "";
  margin: 0;
}
.navigation__menu-item a {
  color: #fff;
  text-decoration: none;
}

.burgers {
  background: url("../../img/backgrounds/burgers.png");
  background-position-x: 95%;
  width: 1100px;
  margin: 0 auto;
  height: 650px;
  border: 1px solid black;
}
.burgers::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/backgrounds/texture.png");
}

.slider-switch {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 75.7%;
  top: 83px;
}
.slider-switch__item {
  position: relative;
  margin-bottom: -8px;
}
.slider-switch__item-active::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 5px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #fff;
}
.slider-switch__item a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}

.slide1 {
  position: absolute;
  display: flex;
  top: 76px;
  left: 478px;
}
.slide1__burger {
  margin-left: 10px;
  margin-top: 10px;
  width: 461px;
  height: 424px;
  background: url("../../img/burgers/drops.png") no-repeat;
  background-position-x: 10px;
  background-position-y: 58px;
}
.slide1__burger-img {
  width: 416px;
  height: 424px;
  margin-top: -9px;
  margin-left: 44px;
}
.slide1__sign {
  margin-top: 65px;
  margin-left: 6px;
}
.slide1__sign .title {
  color: #f9b43b;
}
.slide1__sign .subtitle {
  margin-top: 22px;
  line-height: 0.99;
  font-size: 63px;
  color: #fff;
  font-family: "Lifehack";
  font-weight: 500;
}

.we-best {
  background: url("../../img/backgrounds/we-best-bg.png");
  width: 1100px;
  margin: 0 auto;
}
.we-best__title {
  position: relative;
  color: #2f3234;
  text-align: center;
  top: 112px;
}

.because {
  display: flex;
  margin-top: 156px;
  margin-left: 7%;
}
.because li {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin-right: 20px;
}
.because__subtitle {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 28px;
  color: #2f3234;
  font-family: "Lifehack";
  font-weight: 500;
  margin-bottom: 15px;
}
.because__desc {
  font-size: 14px;
  line-height: 24px;
  color: #2f3234;
  font-family: "Ubuntu";
  font-weight: 300;
}
.because-meat__logo {
  margin-bottom: 29px;
  position: relative;
  align-self: center;
  width: 97px;
  height: 89px;
}
.because-hand__logo {
  margin-bottom: 33px;
  position: relative;
  align-self: center;
  width: 73px;
  height: 85px;
}
.because-natural__logo {
  margin-bottom: 43px;
  position: relative;
  align-self: center;
  width: 88px;
  height: 75px;
}

.black-burger {
  background: url("../../img/backgrounds/dark-beef-bg.png");
  background-position-y: 33%;
  background-position-x: 30%;
  width: 1100px;
  margin: 0 auto;
}
.black-burger__img {
  position: absolute;
  margin-top: 32px;
  margin-left: 2.5%;
}
.black-burger__icon {
  width: 46px;
  height: 44px;
  position: absolute;
  margin-left: 5.3%;
  margin-top: -31px;
  z-index: 1;
}
.black-burger__icon::before {
  content: "";
  position: absolute;
  margin-left: -21px;
  margin-top: -14px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background-color: #f08c33;
  z-index: -1;
}
.black-burger__icon::after {
  content: "состав";
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  font-family: "Gagalin";
  text-align: center;
}
.black-burger__calories {
  position: absolute;
  margin-left: 4.2%;
  margin-top: 350px;
  z-index: 1;
}
.black-burger__calories::before {
  content: "1200";
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Gagalin";
  text-align: right;
  margin-top: 25px;
  margin-left: 13px;
  opacity: 0.5;
}
.black-burger__calories::after {
  content: "ккал";
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Gagalin";
  text-align: right;
  margin-top: -2px;
  margin-left: 15px;
  opacity: 0.5;
}
.black-burger__text {
  display: flex;
  flex-direction: column;
  margin-left: 51%;
  margin-top: 135px;
}
.black-burger__text-title {
  width: 330px;
  font-size: 72px;
  line-height: 64px;
  color: #fff;
  font-family: "Gagalin";
  text-transform: uppercase;
}
.black-burger__text-desc {
  margin-top: 47px;
  width: 459px;
  height: 153px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}
.black-burger__text-price {
  margin-top: -16px;
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 28px;
  color: #e35028;
  font-family: "Gagalin";
  display: flex;
}
.black-burger__text-price h3 {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 31px;
}
.black-burger__text button {
  position: absolute;
  margin-top: 328px;
  margin-left: 230px;
}

.reviews {
  background: black;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.reviews__item {
  width: 25%;
  height: 50%;
  overflow: hidden;
}

.review {
  position: relative;
  color: #fff;
}
.review:hover .review__pic {
  opacity: 0.4;
}
.review:hover .review__hover {
  opacity: 1;
  transform: scale(1);
}
.review__hover {
  position: absolute;
  top: 41px;
  left: 19px;
  right: 0;
  bottom: 0;
  transform: scale(0.8);
  transition: 0.3s;
  opacity: 0;
}
.review__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.review__pic_one {
  object-position: -5px -23px;
  transform: scale(1.04);
}
.review__pic_two {
  object-position: -288px 43px;
  transform: scale(2);
}
.review__pic_three {
  object-position: -112px 58px;
  transform: scale(1.82);
}
.review__pic_four {
  object-position: -84px 33px;
  transform: scale(2.7);
}
.review__pic_five {
  object-position: -90px 65px;
  transform: scale(1.7);
}
.review__pic_six {
  object-position: -142px 18px;
  transform: scale(1.15);
}
.review__pic_seven {
  object-position: -116px 0;
  transform: scale(1.02);
}
.review__pic_eight {
  object-position: -155px 1px;
  transform: scale(1.04);
}
.review__name {
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  font-family: "Gagalin";
}
.review__content {
  width: 233px;
  height: 160px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}

.delivery {
  background: url("../../img/backgrounds/delivery-bg-texture.png") center center/cover no-repeat;
  background-position-x: -137px;
  background-position-y: -192px;
  background-size: 125%;
}
.delivery:before {
  content: "";
  position: absolute;
  display: block;
  width: 1100px;
  height: 650px;
  z-index: -1;
  background: url("../../img/backgrounds/delivery-bg.png") center center/cover no-repeat;
}
.delivery__title {
  line-height: 64px;
  color: #f9b43b;
  text-align: center;
  margin-top: 11.4%;
}

.order {
  margin-left: 7%;
  margin-top: 4.2%;
  width: 940px;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  font-family: "Ubuntu";
  font-weight: 300;
}
.order__row {
  margin-bottom: 14px;
  display: flex;
}
.order__block {
  flex: 1;
  margin-right: 20px;
}
.order__block:last-child {
  margin-right: 0;
}
.order__title {
  color: #fff;
  margin-bottom: 5px;
}
.order__input {
  width: 100%;
  padding: 8px 21px;
  border: none;
  border-radius: 4px;
}
.order__input_textarea {
  padding-top: 3px;
  resize: vertical;
  height: 107px;
}
.order__left {
  width: 50%;
  padding-right: 10px;
}
.order__right {
  width: 50%;
  padding-left: 10px;
}
.order__button {
  width: 97px;
  height: 36px;
  margin-left: 3px;
}
.order__button-clear {
  margin-left: 11px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}

.payment {
  margin-top: -7px;
}
.payment-switch {
  display: flex;
}
.payment-switch__elem {
  display: flex;
  align-items: center;
}
.payment-switch__elem-title {
  margin-left: 10px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}
.payment-switch__radio {
  width: 17px;
  height: 17px;
}

.calling {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.calling__checkbox {
  width: 15px;
  height: 15px;
}
.calling__checkbox-title {
  margin-left: 10px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}

.team {
  background: url("../../img/backgrounds/team-bg.png");
  position: relative;
}
.team__title {
  color: #f9b43b;
  text-align: center;
  margin-left: -9%;
  margin-top: 17%;
}
.team__block {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.9);
  margin-left: 1%;
}

.team-accordeon {
  margin-left: 116px;
  margin-top: 35px;
}
.team-accordeon__item {
  margin-bottom: -18px;
}
.team-accordeon__item.active .team-accordeon__name {
  color: #f9b43b;
}
.team-accordeon__item.active .team-accordeon__name:before {
  transform: rotate(-180deg);
}
.team-accordeon__item.active .team-accordeon__content {
  height: 100%;
  margin-bottom: 54px;
}
.team-accordeon__name {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  font-family: "Gagalin";
}
.team-accordeon__name:before, .team-accordeon__name:after {
  content: "";
  display: block;
  position: absolute;
  left: -18px;
  top: 8px;
  width: 0;
  height: 0;
}
.team-accordeon__name:before {
  border-top: 7px solid #f9b43b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0px solid transparent;
  transform: rotate(0deg);
  transition: 0.3s;
}
.team-accordeon__name:after {
  display: none;
  border-bottom: 7px solid #f9b43b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0px solid transparent;
}
.team-accordeon__content {
  height: 0;
  overflow: hidden;
  display: flex;
  margin-top: 4px;
  width: 330px;
  margin-bottom: 35px;
}
.team-accordeon__avatar {
  text-align: center;
  margin-top: 5px;
  width: 66%;
}
.team-accordeon__img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.team-accordeon__text {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 700;
  padding-left: 18px;
}
.team-accordeon__text-content {
  margin-top: 11px;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

button {
  border: 2px solid black;
  background-color: chartreuse;
  color: black;
  cursor: pointer;
}

html, body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.main-menu {
  display: flex;
}

.landing-block {
  width: 100%;
  height: 650px;
  border: 1px solid black;
  overflow: hidden;
}

.title {
  font-size: 72px;
  font-family: "Gagalin";
}

.arrow {
  position: absolute;
  border: solid #fff;
  width: 23px;
  height: 23px;
  border-radius: 0 0 8px 0;
  border-width: 0 3px 3px 0;
  display: inline-block;
}
.arrow__down-first-slide {
  top: 584px;
  left: 49.4%;
  transform: rotate(45deg);
}
.arrow__left-third-slide {
  margin-left: 2.5%;
  margin-top: -177px;
  transform: rotate(135deg);
}
.arrow__right-third-slide {
  margin-left: 54%;
  margin-top: -177px;
  transform: rotate(-45deg);
}

.button {
  font-size: 13px;
  font-family: "Ubuntu";
  font-weight: 500;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  border: none;
}
.button-text {
  text-transform: uppercase;
  position: relative;
}
.button__review {
  background-color: #2f3234;
  margin-top: -4px;
  margin-left: 2px;
  width: 109px;
}