@charset "UTF-8";
@font-face {
  font-family: "Gagalin-Regular";
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lifehack-Medium";
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

button {
  border: 2px solid black;
  background-color: chartreuse;
  color: black;
  cursor: pointer;
}

html, body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  width: 95%;
}

.body__overlay {
  height: 100vh;
  overflow: hidden;
}

.main-menu {
  display: flex;
  flex-direction: row;
}

.landing-block {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 72px;
  font-family: "Gagalin";
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 50px;
  }
}

.arrow {
  position: relative;
}
.arrow__burger {
  position: absolute;
  top: 37.25rem;
  left: 33.375rem;
  width: 1.875rem;
  height: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .arrow__burger {
    top: 110%;
    left: 48%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__burger {
    top: 120%;
    left: 47%;
  }
}
.arrow__black-left {
  position: absolute;
  width: 1.875rem;
  height: 0.9375rem;
  top: -10.75rem;
  left: 2.375rem;
  transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
  .arrow__black-left {
    top: -23.25rem;
    left: 1.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .arrow__black-left {
    top: -22rem;
    left: -0.625rem;
  }
}
.arrow__black-right {
  position: absolute;
  width: 1.875rem;
  height: 0.9375rem;
  top: -10.75rem;
  left: 64.4375rem;
  transform: rotate(-90deg);
}
@media screen and (max-width: 768px) {
  .arrow__black-right {
    top: -23.25rem;
    left: 42.625rem;
  }
}
@media screen and (max-width: 480px) {
  .arrow__black-right {
    top: -22rem;
    left: 27.125rem;
  }
}

.button {
  font-size: 0.8125rem;
  font-family: "Ubuntu";
  font-weight: 500;
  border-radius: 0.3125rem;
  color: #fff;
  border: none;
}
.button-text {
  text-transform: uppercase;
  position: relative;
}

.header {
  height: 5.125rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 0.8125rem;
  line-height: 1.875rem;
  font-family: "Ubuntu";
  font-weight: 500;
  text-transform: uppercase;
  z-index: 1;
}
.header__button {
  margin-top: 1.75rem;
  margin-left: 0.4375rem;
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
}
@media screen and (max-width: 768px) {
  .header__button {
    margin-left: 78%;
  }
}
@media screen and (max-width: 480px) {
  .header__button {
    margin-left: 67%;
  }
}
.header__logo {
  position: absolute;
  width: 5.75rem;
  margin-left: 7%;
  margin-top: 0.8125rem;
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 0.3125rem;
  }
}

.navigation {
  width: 68%;
  margin-left: 15.3%;
}
@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .navigation_hamburger {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #0a0a16;
    opacity: 0;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .navigation_hamburger .navigation__menu {
    margin-left: 0;
    flex-direction: column;
    font-family: "Lifehack-Medium";
    align-items: center;
    justify-content: center;
  }
  .navigation_hamburger .navigation__menu-item {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .navigation_hamburger .navigation__menu-item:last-child {
    margin-bottom: 0;
  }
  .navigation_hamburger .navigation__menu-item::before {
    display: none;
  }
  .navigation_hamburger a {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  .navigation_hamburger-visible {
    display: flex;
    z-index: 2;
    opacity: 0.9;
    margin-left: 0;
  }
  .navigation_hamburger-visible .hamburger__close {
    display: block;
  }
}
.navigation__menu {
  display: flex;
  margin-left: 4.375rem;
}
.navigation__menu-item {
  margin-top: 1.875rem;
}
.navigation__menu-item::before {
  content: "•";
  font-size: 0.8125rem;
  color: #fff;
  margin-left: 0.9375rem;
  margin-right: 0.75rem;
}
.navigation__menu-item:first-child:before {
  content: "";
  margin: 0;
}
.navigation__menu-item a {
  color: #fff;
  text-decoration: none;
}

.hamburger__close {
  display: none;
}
.hamburger__close-icon {
  fill: #fff;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 5%;
  right: 5%;
}
.hamburger__icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger__icon {
    display: block;
    margin-top: 1.875rem;
    margin-left: 1.25rem;
  }
}
.hamburger__icon-img {
  height: 1.5625rem;
  width: 1.5625rem;
  fill: #fff;
}

.burgers {
  background: #2f3234 url("../../img/backgrounds/burgers.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.burgers::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/backgrounds/texture.png");
}

.slide1 {
  position: relative;
  display: flex;
  left: 5.5rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slide1 {
    left: -0.375rem;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}
.slide1__burger {
  background: url("../../img/burgers/drops.png") no-repeat;
  background-position-x: 0.625rem;
  background-position-y: 3.625rem;
  width: 28.75rem;
}
@media screen and (max-width: 480px) {
  .slide1__burger {
    width: auto;
    background-position-x: 0.625rem;
    background-position-y: 0.625rem;
    background-size: contain;
  }
}
.slide1__burger-img {
  margin-top: -0.5625rem;
  margin-left: 2.75rem;
}
@media screen and (max-width: 480px) {
  .slide1__burger-img {
    width: 20.75rem;
  }
}
.slide1__sign {
  margin-left: 0.375rem;
}
@media screen and (max-width: 768px) {
  .slide1__sign {
    margin-top: 0.625rem;
    margin-left: 0.1875rem;
    text-align: center;
  }
}
.slide1__sign .title {
  color: #f9b43b;
}
@media screen and (max-width: 480px) {
  .slide1__sign .title {
    font-size: 3.9375rem;
  }
}
.slide1__sign .subtitle {
  width: 25rem;
  line-height: 0.99;
  font-size: 3.9375rem;
  color: #fff;
  font-family: "Lifehack";
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .slide1__sign .subtitle {
    font-size: 3.1875rem;
  }
}

.we-best {
  background: url("../../img/backgrounds/we-best-bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  display: flex;
  background-position: center center;
}
.we-best__title {
  position: relative;
  color: #2f3234;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .we-best__title {
    font-size: 3.125rem;
  }
}

.because {
  display: flex;
  margin-top: 6.75rem;
  margin-left: 7%;
}
@media screen and (max-width: 768px) {
  .because {
    margin-left: 0.25rem;
  }
}
@media screen and (max-width: 480px) {
  .because {
    flex-direction: column;
  }
}
.because li {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 18.75rem;
  margin-right: 1.25rem;
}
@media screen and (max-width: 480px) {
  .because li {
    flex-direction: row;
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .because-text {
    text-align: left;
  }
}
.because__subtitle {
  font-size: 1.5rem;
  letter-spacing: -0.0625rem;
  line-height: 1.75rem;
  color: #2f3234;
  font-family: "Lifehack";
  font-weight: 500;
  margin-bottom: 0.9375rem;
}
.because__desc {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #2f3234;
  font-family: "Ubuntu";
  font-weight: 300;
}
@media screen and (max-width: 480px) {
  .because__desc {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .because-meat {
    margin-bottom: 2.6875rem;
  }
}
.because-meat__logo {
  margin-bottom: 1.8125rem;
  position: relative;
  align-self: center;
  width: 6.0625rem;
  height: 5.5625rem;
}
@media screen and (max-width: 480px) {
  .because-meat__logo {
    width: 16.625rem;
  }
}
@media screen and (max-width: 480px) {
  .because-hand {
    margin-bottom: 2.375rem;
  }
}
.because-hand__logo {
  margin-bottom: 2.0625rem;
  position: relative;
  align-self: center;
  width: 4.5625rem;
  height: 5.3125rem;
}
@media screen and (max-width: 480px) {
  .because-hand__logo {
    width: 22.0625rem;
    margin-left: 0.8125rem;
  }
}
.because-natural {
  padding: 0 0.3%;
}
.because-natural__logo {
  margin-bottom: 2.6875rem;
  position: relative;
  align-self: center;
  width: 5.5rem;
  height: 4.6875rem;
}
@media screen and (max-width: 480px) {
  .because-natural__logo {
    width: 13.0625rem;
    margin-left: 0.5rem;
  }
}

.black-burger {
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 50%, #f9b43b 100%);
  position: relative;
}
.black-burger__img {
  position: relative;
  top: 10.5rem;
  left: 2.5%;
  width: 31.25rem;
  height: 20.625rem;
}
@media screen and (max-width: 768px) {
  .black-burger__img {
    top: 11.9375rem;
    left: 6.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .black-burger__img {
    position: relative;
    transform: scale(0.8);
    top: 7.9375rem;
    left: -1.4375rem;
  }
}
.black-burger__icon {
  width: 2.875rem;
  height: 2.75rem;
  position: absolute;
  left: 9.4%;
  top: 6.5rem;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .black-burger__icon {
    left: 20.4%;
    top: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .black-burger__icon {
    left: 4.4%;
    top: 4rem;
  }
}
.black-burger__icon svg {
  width: 2.875rem;
  height: 2.5625rem;
}
.black-burger__icon::before {
  content: "";
  position: absolute;
  left: -1.3125rem;
  top: -0.875rem;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  background-color: #f08c33;
  z-index: -1;
}
.black-burger__icon::after {
  content: "состав";
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #fff;
  font-family: "Gagalin";
  text-align: center;
}
.black-burger__calories {
  position: absolute;
  left: 7.4%;
  top: 30.375rem;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .black-burger__calories {
    left: 74%;
    top: 7.1rem;
  }
}
@media screen and (max-width: 480px) {
  .black-burger__calories {
    left: 87%;
    top: 3.1rem;
  }
}
.black-burger__calories::before {
  content: "1200";
  position: absolute;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Gagalin";
  text-align: right;
  top: 1.5625rem;
  left: 0.8125rem;
  opacity: 0.8;
}
.black-burger__calories::after {
  content: "ккал";
  position: absolute;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Gagalin";
  text-align: right;
  top: 3.5625rem;
  left: 0.9375rem;
  opacity: 0.8;
}
.black-burger__text {
  display: flex;
  flex-direction: column;
  margin-left: 29.5%;
  margin-top: -12.0625rem;
}
@media screen and (max-width: 768px) {
  .black-burger__text {
    text-align: center;
    margin-top: 13rem;
    margin-left: 12.5rem;
  }
}
@media screen and (max-width: 480px) {
  .black-burger__text {
    text-align: center;
    margin-top: 6.6875rem;
    margin-left: 3.9375rem;
  }
}
.black-burger__text-title {
  width: 20.625rem;
  font-size: 4.5rem;
  line-height: 4rem;
  color: #fff;
  font-family: "Gagalin";
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .black-burger__text-title {
    font-size: 3.125rem;
    line-height: 1.1;
  }
}
.black-burger__text-desc {
  margin-top: 2.9375rem;
  width: 28.6875rem;
  height: 9.5625rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .black-burger__text-desc {
    margin-top: 2.8125rem;
    margin-left: -7.5rem;
    width: 35.4375rem;
  }
}
@media screen and (max-width: 480px) {
  .black-burger__text-desc {
    margin-top: 1.4375rem;
    margin-left: -4.0625rem;
    width: 25%;
  }
}
.black-burger__text-price {
  margin-top: -1rem;
  font-size: 4.5rem;
  letter-spacing: -0.125rem;
  line-height: 1.75rem;
  color: #e35028;
  font-family: "Gagalin";
  display: flex;
}
@media screen and (max-width: 768px) {
  .black-burger__text-price {
    margin-top: -2rem;
  }
}
@media screen and (max-width: 480px) {
  .black-burger__text-price {
    margin-top: -2.125rem;
    margin-left: 1.5rem;
    font-size: 3.125rem;
  }
}
.black-burger__text-price h3 {
  margin-top: 1rem;
  margin-left: 0.625rem;
  font-size: 1.9375rem;
}
@media screen and (max-width: 480px) {
  .black-burger__text-price h3 {
    margin-top: 0.6875rem;
    font-size: 1.625rem;
    margin-left: 0.5625rem;
  }
}
.black-burger__text-button {
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
}
.black-burger__button {
  position: absolute;
  margin-top: 20.5rem;
  margin-left: 14.375rem;
}
@media screen and (max-width: 768px) {
  .black-burger__button {
    margin-top: 19.5rem;
  }
}
@media screen and (max-width: 480px) {
  .black-burger__button {
    margin-top: 16.125rem;
    margin-left: 12.875rem;
  }
}

.slider {
  display: flex;
}
.slider__slides {
  display: flex;
  position: relative;
  will-change: right;
}
.slider__slide {
  width: 118.75rem;
}

.reviews {
  background: black;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.reviews__item {
  width: 25%;
  height: 50%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    width: 50%;
    height: 25%;
  }
}
.reviews__button {
  background-color: #2f3234;
  margin-top: -4px;
  margin-left: 2px;
  width: 109px;
  height: 35px;
}
@media screen and (max-width: 480px) {
  .reviews__button {
    margin-top: 1.5625rem;
  }
}

.review {
  position: relative;
  color: #fff;
}
.review:hover .review__pic {
  opacity: 0.4;
}
.review:hover .review__hover {
  opacity: 1;
  transform: scale(1);
}
.review__hover {
  position: absolute;
  top: 2.5625rem;
  left: 1.1875rem;
  right: 0;
  bottom: 0;
  transform: scale(0.8);
  transition: 0.3s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .review__hover {
    padding: 0 14%;
    left: 0;
    top: 1.625rem;
    text-align: center;
    align-items: center;
  }
}
.review__pic {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
@media screen and (max-width: 480px) {
  .review__pic {
    transform: scale(1.5, 1);
  }
}
.review__name {
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #fff;
  font-family: "Gagalin";
}
@media screen and (max-width: 480px) {
  .review__name {
    font-size: 1.5rem;
    margin-top: 0.8125rem;
  }
}
.review__content {
  width: 14.5625rem;
  height: 10rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .review__content {
    margin-top: -0.625rem;
    margin-bottom: 1.625rem;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .review__content {
    display: none;
  }
}

.delivery {
  background: url("../../img/backgrounds/delivery-bg-texture.png") 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .delivery {
    margin-top: -0.8125rem;
  }
}
@media screen and (max-width: 480px) {
  .delivery {
    margin-top: -7.8125rem;
  }
}
.delivery:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: url("../../img/backgrounds/delivery-bg.png") center center/cover no-repeat;
}
@media screen and (max-width: 768px) {
  .delivery:before {
    height: 64rem;
  }
}
@media screen and (max-width: 480px) {
  .delivery:before {
    height: 50rem;
  }
}
.delivery__title {
  line-height: 4rem;
  color: #f9b43b;
  text-align: center;
  margin-top: -0.6%;
}
@media screen and (max-width: 768px) {
  .delivery__title {
    margin-top: -5.75rem;
    margin-bottom: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .delivery__title {
    margin-top: -2.5rem;
    margin-bottom: 0;
  }
}

.order {
  margin-left: 7%;
  margin-top: 4.2%;
  width: 58.75rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "Ubuntu";
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .order {
    flex-direction: column;
    width: auto;
    margin-left: 0;
    padding: 0 17.6%;
  }
}
@media screen and (max-width: 480px) {
  .order {
    padding: 0;
  }
}
.order__row {
  margin-bottom: 0.875rem;
  display: flex;
}
@media screen and (max-width: 480px) {
  .order__row {
    justify-content: center;
  }
}
.order__block {
  flex: 1;
  margin-right: 1.25rem;
}
@media screen and (max-width: 480px) {
  .order__block {
    margin-right: 0.3rem;
  }
}
.order__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .order__block_no-phone {
    display: none;
  }
}
.order__title {
  color: #fff;
  margin-bottom: 0.3125rem;
}
.order__input {
  width: 100%;
  padding: 0.5rem 1.3125rem;
  border: none;
  border-radius: 0.25rem;
}
.order__input_textarea {
  padding-top: 0.1875rem;
  resize: vertical;
  height: 6.6875rem;
}
.order__left {
  width: 50%;
  padding-right: 0.625rem;
}
@media screen and (max-width: 768px) {
  .order__left {
    width: auto;
    padding-right: 0;
  }
}
.order__right {
  width: 50%;
  padding-left: 0.625rem;
}
@media screen and (max-width: 768px) {
  .order__right {
    width: auto;
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .order__buttons {
    position: relative;
    top: 2.625rem;
  }
}
.order__button {
  width: 6.0625rem;
  height: 2.25rem;
  margin-left: 0.1875rem;
  background-color: #e45028;
}
.order__button-clear {
  margin-left: 0.6875rem;
  border: none;
  background: none;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}

.payment {
  margin-top: -0.4375rem;
}
@media screen and (max-width: 480px) {
  .payment {
    position: relative;
    top: 1.3125rem;
  }
}
.payment-switch {
  display: flex;
}
@media screen and (max-width: 480px) {
  .payment-switch {
    justify-content: center;
  }
}
.payment-switch__elem {
  display: flex;
  align-items: center;
}
.payment-switch__elem-title {
  margin-left: 0.625rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}
.payment-switch__radio {
  width: 1.0625rem;
  height: 1.0625rem;
}

.calling {
  margin-top: 0.3125rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .calling {
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .calling {
    position: relative;
    top: 1.9375rem;
  }
}
.calling__checkbox {
  width: 0.9375rem;
  height: 0.9375rem;
}
.calling__checkbox-title {
  margin-left: 0.625rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 300;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-container {
  position: relative;
}

.modal-content {
  width: 400px;
  background: #444;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font: 16px Helvetica, sans-serif;
  margin: 0;
}

.modal-close {
  font: 16px Helvetica, sans-serif;
  color: #fff;
  position: absolute;
  right: -5px;
  top: -10px;
  background: #d00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.team {
  background: url("../../img/backgrounds/team-bg.png") no-repeat;
  background-size: 50.1% 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .team {
    background-size: auto 100%;
    background-position-x: -23.9375rem;
  }
}
.team__title {
  color: #f9b43b;
  margin-left: -3%;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-left: -2rem;
    margin-top: 10.0625rem;
  }
}
@media screen and (max-width: 480px) {
  .team__title {
    margin-top: 7.0625rem;
    margin-left: -1.4375rem;
  }
}
.team__block {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.9);
  padding: 5% 2% 0 7%;
}
@media screen and (max-width: 768px) {
  .team__block {
    left: 0;
    text-align: center;
  }
}

.team-accordeon {
  margin-left: -0.375rem;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  .team-accordeon {
    margin-top: 0.875rem;
    margin-left: 0.625rem;
  }
}
.team-accordeon__item {
  margin-bottom: -1.125rem;
}
@media screen and (max-width: 768px) {
  .team-accordeon__item {
    margin-bottom: -1.4375rem;
  }
}
@media screen and (max-width: 480px) {
  .team-accordeon__item {
    margin-bottom: -1.5rem;
  }
}
.team-accordeon__item.active .team-accordeon__name {
  color: #f9b43b;
}
.team-accordeon__item.active .team-accordeon__name:before {
  transform: rotate(-180deg);
}
.team-accordeon__item.active .team-accordeon__content {
  height: 100%;
  margin-bottom: 3.375rem;
}
@media screen and (max-width: 768px) {
  .team-accordeon__item.active .team-accordeon__content {
    padding: 0 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .team-accordeon__item.active .team-accordeon__content {
    padding: 0;
    margin-bottom: 2.6875rem;
  }
}
@media screen and (max-width: 768px) {
  .team-accordeon__item.active .team-accordeon__content .team-accordeon__avatar {
    width: auto;
  }
}
.team-accordeon__name {
  text-decoration: none;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #fff;
  font-family: "Gagalin";
}
@media screen and (max-width: 768px) {
  .team-accordeon__name {
    font-size: 24px;
    top: 9px;
    margin-left: -12px;
  }
}
@media screen and (max-width: 480px) {
  .team-accordeon__name {
    font-size: 1.5rem;
  }
}
.team-accordeon__name:before, .team-accordeon__name:after {
  content: "";
  display: block;
  position: absolute;
  left: -1.125rem;
  top: 0.5rem;
  width: 0;
  height: 0;
}
.team-accordeon__name:before {
  border-top: 0.4375rem solid #f9b43b;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0rem solid transparent;
  transform: rotate(0deg);
  transition: 0.3s;
}
.team-accordeon__name:after {
  display: none;
  border-bottom: 0.4375rem solid #f9b43b;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-top: 0rem solid transparent;
}
.team-accordeon__content {
  height: 0;
  overflow: hidden;
  display: flex;
  margin-top: 0.25rem;
  width: 20.625rem;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 768px) {
  .team-accordeon__content {
    margin-top: 1.125rem;
    margin-left: -1.25rem;
  }
}
.team-accordeon__avatar {
  text-align: center;
  margin-top: 0.3125rem;
  width: 66%;
}
.team-accordeon__img {
  border-radius: 50%;
  height: 6.25rem;
  width: 6.25rem;
}
.team-accordeon__text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 700;
  padding-left: 1.125rem;
}
@media screen and (max-width: 768px) {
  .team-accordeon__text {
    margin-top: 0.9375rem;
    margin-left: 0.375rem;
    padding: 0 10%;
  }
}
@media screen and (max-width: 480px) {
  .team-accordeon__text {
    margin-top: 1.0625rem;
    margin-left: 0.375rem;
  }
}
.team-accordeon__text-content {
  margin-top: 0.6875rem;
  font-weight: 300;
}

.menu {
  position: relative;
  background: url("../../img/backgrounds/menu-main.png") 50% no-repeat;
  background-size: cover;
}
.menu__title {
  position: absolute;
  top: 5.6875rem;
  left: 5.9375rem;
  color: #fff;
}

.menu-accordeon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.menu-accordeon:before, .menu-accordeon:after {
  content: "";
  display: table;
}
.menu-accordeon__item {
  position: relative;
  float: left;
  height: 100%;
}
.menu-accordeon__item:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}
.menu-accordeon__item_meat {
  background: url("../../img/backgrounds/menu-meat.png") center center/cover no-repeat;
}
.menu-accordeon__item_vegan {
  background: url("../../img/backgrounds/menu-vegan.png") center center/cover no-repeat;
}
.menu-accordeon__item_diet {
  background: url("../../img/backgrounds/menu-diet.png") center center/cover no-repeat;
}
.menu-accordeon__item.active .menu-accordeon__title-text {
  color: #f9b43b;
}
.menu-accordeon__item.active .menu-accordeon__content {
  display: block;
}
@media screen and (max-width: 768px) {
  .menu-accordeon__item.active .menu-accordeon__content {
    display: block;
    width: 33rem;
  }
}
@media screen and (max-width: 480px) {
  .menu-accordeon__item.active .menu-accordeon__content {
    display: block;
    width: 21rem;
  }
}
.menu-accordeon__title {
  width: 5rem;
  display: block;
  height: 100%;
  float: left;
  text-decoration: none;
  position: relative;
}
@media screen and (max-width: 480px) {
  .menu-accordeon__title {
    width: 3rem;
  }
}
.menu-accordeon__title-text {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Gagalin";
  text-align: center;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -2.25rem;
}
@media screen and (max-width: 480px) {
  .menu-accordeon__title-text {
    font-size: 1.5rem;
  }
}
.menu-accordeon__content {
  height: 100%;
  float: left;
  width: 33.75rem;
  display: none;
}
.menu-accordeon__text {
  position: relative;
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 1.875rem;
  width: 100%;
  line-height: 1.8;
  font-family: "Ubuntu";
  font-weight: 300;
}

.how-work {
  position: relative;
}
@media screen and (max-width: 480px) {
  .how-work {
    height: 57.8rem;
  }
}

.contacts {
  position: relative;
}
.contacts__map {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .contacts__map {
    height: 93.4vh;
  }
}
.contacts__mark {
  width: 2.875rem;
  height: 3.625rem;
}
.contacts__mark.one {
  position: absolute;
  top: 8rem;
  left: 31.3125rem;
}
@media screen and (max-width: 480px) {
  .contacts__mark.one {
    top: 5.625rem;
    left: 11.5625rem;
  }
}
.contacts__mark.two {
  position: absolute;
  top: 14.3125rem;
  left: 39.3125rem;
}
@media screen and (max-width: 480px) {
  .contacts__mark.two {
    top: 11.875rem;
    left: 21.125rem;
  }
}
.contacts__mark.three {
  position: absolute;
  top: 21.1875rem;
  left: 52rem;
}
@media screen and (max-width: 480px) {
  .contacts__mark.three {
    top: 21.1875rem;
    left: 21.1875rem;
  }
}
.contacts__mark.four {
  position: absolute;
  top: 27.1875rem;
  left: 31.5625rem;
}
@media screen and (max-width: 480px) {
  .contacts__mark.four {
    top: 25.75rem;
    left: 12.375rem;
  }
}

.footer {
  background: url("../../img/backgrounds/delivery-bg.png") center bottom no-repeat;
  background-size: cover;
  position: absolute;
  height: 3.625rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0;
}
@media screen and (max-width: 480px) {
  .footer {
    text-align: center;
    height: 7.1875rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__col {
  width: 50%;
  height: 100%;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 480px) {
  .footer__col {
    width: auto;
  }
}
.footer__col_right {
  text-align: right;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .footer__col_right {
    margin-left: 170px;
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 480px) {
  .footer__col_right {
    margin-left: 0;
    justify-content: center;
  }
}
.footer__address {
  margin-top: -0.1875rem;
  margin-left: 30.125rem;
  margin-bottom: 0.4375rem;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Ubuntu";
  font-weight: 300;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer__address {
    margin-left: 1.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .footer__address {
    margin-left: 0;
    margin-top: 0.375rem;
  }
}
.footer__phone {
  color: #e35028;
  font-family: "Ubuntu";
  font-weight: 700;
  text-decoration: none;
  font-size: 0.875rem;
}
.footer__phone-icon {
  margin-left: 30.125rem;
  margin-right: 0.375rem;
  width: 0.6875rem;
  height: 0.6875rem;
}
@media screen and (max-width: 768px) {
  .footer__phone-icon {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__phone-icon {
    margin-left: 0;
  }
}

.socials {
  position: relative;
  text-align: center;
  margin-top: -1rem;
  left: -8.7%;
}
@media screen and (max-width: 480px) {
  .socials {
    margin-top: 0;
  }
}

.socials__item {
  display: inline-block;
  margin-left: 0.9375rem;
}

.socials__link {
  color: #fff;
  display: inline-block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  opacity: 0.3;
  transition: 0.3s;
}
.socials__link:hover {
  opacity: 1;
}

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative;
}
.fixed-menu__link:after, .fixed-menu__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.fixed-menu__link:after {
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
}
.fixed-menu__link:before {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  opacity: 0;
  transition: 0.3s;
}
.fixed-menu__link:hover:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1;
}

.fixed-menu__item.active .fixed-menu__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}