$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

@import './misc/normalize';
@import './misc/media';
@import './misc/fonts';

ul {
  margin: 0;
  padding: 0;
  & li {
    list-style: none;
  }
}

button {
  border: 2px solid black;
  background-color: chartreuse;
  color: black;
  cursor: pointer;
}

html, body {
  height: 100%;
}


img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  width: 95%;
}

.body__overlay {
  height: 100vh;
  overflow: hidden;
}

.error {
  font-family: 'Lifehack-Medium';
  font-size: 24px;
  color: $red;
}

.main-menu {
  display: flex;
  flex-direction: row;
}

.landing-block {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 72px;
  font-family: "Gagalin";
  @include phones {
    font-size: 50px;
  }
}

.arrow {
  position: relative;
  &__burger {
    position: absolute;
    top: 37.25rem;
    left: 33.375rem;
    width: 1.875rem;
    height: 0.9375rem;
    @include tablets {
      top: 110%;
      left: 48%;
    }
    @include phones {
      top: 120%;
      left: 47%;
    }
  }
  &__black {
    &-left {
      position: absolute;
      width: 1.875rem;
      height: 0.9375rem;
      top: -19.75rem;
      left: 2.375rem;
      transform: rotate(90deg);
      @include tablets {
        top: -23.25rem;
        left: 1.1875rem;
      }
      @include phones {
        top: -22rem;
        left: -0.625rem;
      }
    }
    &-right {
      position: absolute;
      width: 1.875rem;
      height: 0.9375rem;
      top: -19.75rem;
      left: 64.4375rem;
      transform: rotate(-90deg);
      @include tablets {
        top: -23.25rem;
        left: 42.625rem;
      }
      @include phones {
        top: -22rem;
        left: 27.125rem;
      }
    }
  }
}

.button {
  font-size: 0.8125rem;
  font-family: "Ubuntu";
  font-weight: 500;
  border-radius: 0.3125rem;
  color: #fff;
  border: none;
  &-text {
    text-transform: uppercase;
    position: relative;
  }
}

@import './blocks/header/header';
@import './blocks/burgers/burgers-base';
@import './blocks/we-best/we-best-base';
@import './blocks/black-burger/black-burger-base';
@import './blocks/team/team-base';
@import './blocks/menu/menu-base';
@import './blocks/reviews/reviews-base';
@import './blocks/how-work/how-work-base';
@import './blocks/delivery/delivery-base';
@import './blocks/contacts/contacts-main';
@import './blocks/fixed-menu/fixed-menu';