.navigation {
  width: 68%;
  &__menu {
    display: flex;
    margin-left: 70px;
    &-item {
      margin-top: 30px;
      &::before {
        content:"•";
        font-size: 13px;
        color: #fff;
        margin-left: 15px;
        margin-right: 12px;
      }
      &:first-child:before {
        content: "";
        margin: 0;
      }
      & a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}