.how-work {
  background: $black url('../../img/backgrounds/how-work.png') center center no-repeat;
  background-size: 100% 103%;
  position: relative;
  @include tablets {
    background-size: 132% 103%;
  }
  &__title {
    position: absolute;
    left: 25%;
    top: -6.875rem;
    @include tablets {
      left: 13%;
    }
    @include phones {
      left: 10%;
    }
  }

}

@import './player'