.player {
  position: relative;
  display: block;
  width: 60%;
  height: 100%;
  left: 20%;
  top: 14%;
  @include tablets {
    width: 80%;
    left: 11%;
  }
  @include phones {
    left: 13%;
  }
  &.active {
    .player__controls {
      opacity: 0;
      transition: opacity 1s;
      &:hover {
        opacity: 1;
        transition: none;
      }
    }
    .player__elem {
      opacity: 1;
    }
    .player__splash,
    .player__controls-play {
      display: none;
    }
    .player__controls-pause {
      display: flex;
    }
    .player__play {
      width: 14px;
      height: 22px;
      border: none;
      @include tablets {
        height: 20px;
      }
      @include phones {
        width: 13px;
        height: 13px;
      }
    }
  }
  &.paused {
    .player__splash {
      display: none;
    }
    .player__elem {
      opacity: 1;
    }
  }
  &__elem {
    opacity: 0;
    width: 660px;
    height: 405px;
    @include tablets {
      width: 584px;
      height: 364px;
    }
    @include phones {
      width: 364px;
      height: 241px;
    }
  }
  &__splash {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
    background: url('../../../img/backgrounds/player-splash.png') center no-repeat;
    background-size: 141% 195%;
    background-position-y: -77px;
    &-play {
      width: 82px;
      height: 118px;
      fill: #626262;
      @include tablets {
        width: 73px;
        height: 106px;
      }
      @include phones {
        width: 49px;
        height: 71px;
      }
    }
  }
  &__controls {
    background-color: #404040;
    height: 36px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    @include tablets {
      height: 32px;
      padding: 0 17px;
    }
    @include phones {
      height: 22px;
      padding: 0 10px;
    }
    &-play {
      height: 23px;
      width: 26px;
      fill: #626262;
      @include phones {
        height: 15px;
        width: 53px;
      }
    }
    &-pause {
      display: none;
      height: 23px;
      width: 26px;
      fill: #626262;
      @include phones {
        height: 15px;
        width: 53px;
      }
    }
  }
  &__btn {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    padding: 0;
    height: 22px;
    cursor: pointer;
    @include tablets {
      height: 20px;
    }
    @include phones {
      height: 13px;
    }
    &_circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #626262;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      @include tablets {
        width: 11px;
        height: 11px;
      }
      @include phones {
        width: 8px;
        height: 8px;
      }
    }
  }
  &__play {
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-left-color: #626262;
    border-radius: 6px;
    border-right-width: 0;
    @include tablets {
      border-width: 11px;
      border-right-width: 0;
      border-radius: 5px;
    }
    @include phones {
      border-width: 8px; 
      border-right-width: 0;
      border-radius: 4px;
    }
  }
  &__vol {
    width: 18px;
    @include tablets {
      width: 16px;
    }
    @include phones {
      width: 11px;
    }
    &-icon {
      width: 18px;
      height: 22px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      fill: #626262;
      @include tablets {
        width: 16px;
        height: 20px;
      }
      @include phones {
        width: 11px;
        height: 13px;
      }
    }
  }
  &__playback {
    width: 445px;
    @include tablets {
      width: 398px;
    }
    @include phones {
      width: 180px;
    }
    &-btn {
      left: 0;
    }
  }
  &__volume {
    width: 58px;
    @include tablets {
      width: 53px;
    }
    @include phones {
      width: 36px;
    }
    &-btn {
      left: 100%;
    }
  }
}

.player__volume,
.player__playback {
  height: 15px;
  position: relative;
  @include tablets {
    height: 14px;
  }
  @include phones {
    height: 13px;
  }
  &:before {
    content: "";
    height: 5px;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #626262;
    display: block;
    transform: translateY(-50%);
    @include tablets {
      height: 4px;
    }
  }
}
