.contacts {
  position: relative;
  &__map {
    margin-top: 2.75rem;
    transform: scale(1.3);
    @include tablets {
      margin-top: 10.375rem;
      width: 100%;
      height: 32rem;
      object-position: 0 3.25rem;
      transform: scale(2.2);
    }
  }
  &__mark {
    width: 2.875rem;
    height: 3.625rem;
    &.one {
      position: absolute;
      top: 8rem;
      left: 31.3125rem;
      @include phones {
        top: 5.625rem;
        left: 11.5625rem;
      }
    }
    &.two {
      position: absolute;
      top: 14.3125rem;
      left: 39.3125rem;
      @include phones {
        top: 11.875rem;
        left: 21.125rem;
      }
    }
    &.three {
      position: absolute;
      top: 21.1875rem;
      left: 52rem;
      @include phones {
        top: 21.1875rem;
        left: 21.1875rem;
      }
    }
    &.four {
      position: absolute;
      top: 27.1875rem;
      left: 31.5625rem;
      @include phones {
        top: 25.75rem;
        left: 12.375rem;
      }
    }
  }
}