.socials {
	position: relative;
	top: 22%;
	left: -14.9%;
}

.socials__item {
  display: inline-block;
  vertical-align: top;
	margin-left: 15px;
}

.socials__link {
  color: #fff;
	display: inline-block;
	max-width: 40px;
	max-height: 40px;
	opacity: .3;
	transition: .3s;

	&:hover {
		opacity: 1;
	}
}

.socials__link-icon {
  width: 20px;
  height: 20px;
}