.socials {
	position: relative;
	text-align: center;
	margin-top: -16px;
	left: -8.7%;
}

.socials__item {
  display: inline-block;
	margin-left: 15px;
}

.socials__link {
  color: #fff;
	display: inline-block;
	max-width: 40px;
	max-height: 40px;
	opacity: .3;
	transition: .3s;

	&:hover {
		opacity: 1;
	}
}

.socials__link-icon {
  width: 20px;
  height: 20px;
}