.team-accordeon {
  margin-left: 116px;
  margin-top: 35px;
  &__item {
    margin-bottom: 22px;
  }
  &__name {
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    font-family: "Gagalin";
  }
  &__content {
    display: flex;
  }
  &__post {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-family: "Ubuntu";
    font-weight: 700;
  }
}