.we-best {
  background: url('./img/backgrounds/we-best-bg.png') no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  display: flex;
  background-position: center center;
  &__title {
    position: relative;
    color: #2f3234;
    text-align: center;
    @include phones {
      font-size: 3.125rem;
    }
  }
}

.because {
  display: flex;
  margin-top: 6.75rem;
  margin-left: 7%;
  @include tablets {
    margin-left: 0.25rem;
  }
  @include phones {
    flex-direction: column;
  }
  & li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18.75rem;
    margin-right: 1.25rem;
    @include phones {
      flex-direction: row;
      width: 100%;
      margin-right: 0;
    }
  }
  &-text {
    @include phones {
      text-align: left;
    }
  }
  &__subtitle {
    font-size: 1.5rem;
    letter-spacing: -0.0625rem;
    line-height: 1.75rem;
    color: #2f3234;
    font-family: "Lifehack";
    font-weight: 500;
    margin-bottom: 0.9375rem;
  }
  &__desc {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #2f3234;
    font-family: "Ubuntu";
    font-weight: 300;
    @include phones {
      text-align: left;
    }
  }
  &-meat {
    @include phones {
      margin-bottom: 2.6875rem;
    }
    &__logo {
      margin-bottom: 1.8125rem;
      position: relative;
      align-self: center;
      width: 6.0625rem;
      height: 5.5625rem;
      @include phones {
        width: 16.625rem;
      }
    }
  }
  &-hand {
    @include phones {
      margin-bottom: 2.375rem;
    }
    &__logo {
      margin-bottom: 2.0625rem;
      position: relative;
      align-self: center;
      width: 4.5625rem;
      height: 5.3125rem;
      @include phones {
        width: 22.0625rem;
        margin-left: 0.8125rem;
      }
    }
  }
  &-natural {
    padding: 0 0.3%;
    &__logo {
      margin-bottom: 2.6875rem;
      position: relative;
      align-self: center;
      width: 5.5rem;
      height: 4.6875rem;
      @include phones {
        width: 13.0625rem;
        margin-left: 0.5rem;
      }
    }
  }
}