.we-best {
  background: url('../../img/backgrounds/we-best-bg.png');
  width: 1100px;
  margin: 0 auto;
  &__title {
    position: relative;
    color: #2f3234;
    text-align: center;
    top: 112px;
  }
}