.we-best {
  background: url('../../img/backgrounds/we-best-bg.png') no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  display: flex;
  background-position: center center;
  &__title {
    position: relative;
    color: #2f3234;
    text-align: center;
    @include phones {
      font-size: 3.125rem;
    }
  }
}