.burgers-slider {
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 50%, #f9b43b 100%);
  position: relative;
  &__img {
    position: relative;
    top: 10.5rem;
    left: 5.5%;
    width: 31.25rem;
    height: 20.625rem;
    @include tablets {
      top: 11.9375rem;
      left: 6.9375rem;
    }
    @include phones {
      position: relative;
      transform: scale(0.8);
      top: 7.9375rem;
      left: -1.4375rem;
    }
  }
  &__icon {
    width: 2.875rem;
    height: 2.75rem;
    position: absolute;
    left: 7.4%;
    top: 6.5rem;
    z-index: 1;
    @include tablets {
      left: 20.4%;
      top: 8rem;
    }
    @include phones {
      left: 4.4%;
      top: 4rem;
    }
    & svg {
      width: 2.875rem;
      height: 2.5625rem;
    }
    &::before {
      content: "";
      position: absolute;
      left: -1.3125rem;
      top: -0.875rem;
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 0.3125rem;
      background-color: #f08c33;
      z-index: -1;
    }
    &::after {
      content: "состав";
      font-size: 0.875rem;
      line-height: 1.75rem;
      color: #fff;
      font-family: "Gagalin";
      text-align: center;
    }
  }
  &__calories {
    position: absolute;
    left: 6%;
    top: 30.375rem;
    opacity: .6;
    @include tablets {
      left: 74%;
      top: 7.1rem;
    }
    @include phones {
      left: 87%;
      top: 3.1rem;
    }
    &::before {
      content: "1200";
      position: absolute;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: #fff;
      font-family: "Gagalin";
      text-align: right;
      top: 1.5625rem;
      left: 0.8125rem;
      opacity: .8;
    }
    &::after {
      content: "ккал";
      position: absolute;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #fff;
      font-family: "Gagalin";
      text-align: right;
      top: 3.5625rem;
      left: 0.9375rem;
      opacity: .8;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 51.5%;
    margin-top: -12.0625rem;
    @include tablets {
      text-align: center;
      margin-top: 13rem;
      margin-left: 12.5rem;
    }
    @include phones {
      text-align: center;
      margin-top: 6.6875rem;
      margin-left: 3.9375rem;
    }
    &-title {
      width: 20.625rem;
      font-size: 4.5rem;
      line-height: 4rem;
      color: #fff;
      font-family: "Gagalin";
      text-transform: uppercase;
      @include phones {
        font-size: 3.125rem;
        line-height: 1.1;
      }
    }
    &-desc {
      margin-top: 2.9375rem;
      width: 28.6875rem;
      height: 9.5625rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #fff;
      font-family: "Ubuntu";
      font-weight: 300;
      @include tablets {
        margin-top: 2.8125rem;
        margin-left: -7.5rem;
        width: 35.4375rem;
      }
      @include phones {
        margin-top: 1.4375rem;
        margin-left: -4.0625rem;
        width: 25%;
      }
    }
    &-price {
      margin-top: -1rem;
      font-size: 4.5rem;
      letter-spacing: -0.125rem;
      line-height: 1.75rem;
      color: #e35028;
      font-family: "Gagalin";
      display: flex;
      @include tablets {
        margin-top: -2rem;
      }
      @include phones {
        margin-top: -2.125rem;
        margin-left: 1.5rem;
        font-size: 3.125rem;
      }
      & h3 {
        margin-top: 1rem;
        margin-left: 0.625rem;
        font-size: 1.9375rem;
        @include phones {
          margin-top: 0.6875rem;
          font-size: 1.625rem;
          margin-left: 0.5625rem;
        }
      }
    }
    &-button {
      width: 6.0625rem;
      height: 2.1875rem;
      background-color: #e45028;
    }
  }
  &__button {
    position: absolute;
    margin-top: 20.5rem;
    margin-left: 14.375rem;
    @include tablets {
      margin-top: 19.5rem;
    }
    @include phones {
      margin-top: 16.125rem;
      margin-left: 12.875rem;
    }
  }
}

.slider {
  &__slides {
    position: relative;
    overflow: hidden;
    height: 40.625rem;
  }
  &__list {
    position: absolute;
    white-space: nowrap;
    font-size: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__item {
    position: relative;
    white-space: normal;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &__dots {
    position: absolute;
    display: flex;
    left: 44%;
    &-item {
      margin-right: 10px;
      &.active {
        .slider__dots-circle {
          background-color: #fff;
        }
      }
    }
    &-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $black;
      opacity: .5;
      &:hover {
        background-color: #fff;
        transition: .5s;
      }
    }
  }
}