.delivery {
  background: url('../../img/backgrounds/delivery-bg-texture.png') 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 40.625rem;
    z-index: -1;
    background: url('../../img/backgrounds/delivery-bg.png') center center / cover no-repeat;
  }
  &__title {
    line-height: 4rem;
    color: #f9b43b;
    text-align: center;
    margin-top: -0.6%;
  }
}