.delivery {
  background: url('../../img/backgrounds/delivery-bg-texture.png') 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  @include tablets {
    margin-top: -0.8125rem;
  }
  @include phones {
    margin-top: -7.8125rem;
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: url('../../img/backgrounds/delivery-bg.png') center center / cover no-repeat;
    @include tablets {
      height: 64rem;
    }
    @include phones {
      height: 50rem;
    }
  }
  &__title {
    line-height: 4rem;
    color: #f9b43b;
    text-align: center;
    margin-top: -0.6%;
    @include tablets {
      margin-top: -5.75rem;
      margin-bottom: 1.375rem;
    }
    @include phones {
      margin-top: -2.5rem;
      margin-bottom: 0;
    }
  }
}