.black-burger {
  background: url('../../img/backgrounds/dark-beef-bg.png');
  background-position-y: 33%;
  &__img {
    position: absolute;
    margin-top: 167px;
    margin-left: 2.5%;
  }
  &__icon {
    width: 46px;
    height: 44px;
    position: absolute;
    margin-left: 5.3%;
    margin-top: 104px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      margin-left: -21px;
      margin-top: -14px;
      width: 90px;
      height: 90px;
      border-radius: 5px;
      background-color: #f08c33;
      z-index: -1;
    }
    &::after {
      content: "состав";
      font-size: 14px;
      line-height: 28px;
      color: #ffffff;
      font-family: "Gagalin";
      text-align: center;
    }
  }
  &__calories {
    position: absolute;
    margin-left: 4.2%;
    margin-top: 485px;
    z-index: 1;
    &::before {
      content: "1200";
      position: absolute;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      font-family: "Gagalin";
      text-align: right;
      margin-top: 25px;
      margin-left: 13px;
      opacity: .5;
    }
    &::after {
      content: "ккал";
      position: absolute;
      font-size: 14px;
      line-height: 24px;
      color: #ffffff;
      font-family: "Gagalin";
      text-align: right;
      margin-top:-2px;
      margin-left: 15px;
      opacity: .5;
    }
  }
}