.black-burger {
  background: url('../../img/backgrounds/dark-beef-bg.png') 50% no-repeat;
  background-size: cover;
  position: relative;
  &__img {
    position: absolute;
    top: 10.5rem;
    left: 4.2%;
  }
  &__icon {
    width: 2.875rem;
    height: 2.75rem;
    position: absolute;
    left: 9.4%;
    top: 6.5rem;
    z-index: 1;
    & svg {
      width: 2.875rem;
      height: 2.5625rem;
    }
    &::before {
      content: "";
      position: absolute;
      left: -1.3125rem;
      top: -0.875rem;
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 0.3125rem;
      background-color: #f08c33;
      z-index: -1;
    }
    &::after {
      content: "состав";
      font-size: 0.875rem;
      line-height: 1.75rem;
      color: #fff;
      font-family: "Gagalin";
      text-align: center;
    }
  }
  &__calories {
    position: absolute;
    left: 7.4%;
    top: 30.375rem;
    opacity: .6;
    &::before {
      content: "1200";
      position: absolute;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: #fff;
      font-family: "Gagalin";
      text-align: right;
      top: 1.5625rem;
      left: 0.8125rem;
      opacity: .8;
    }
    &::after {
      content: "ккал";
      position: absolute;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #fff;
      font-family: "Gagalin";
      text-align: right;
      top: 3.5625rem;
      left: 0.9375rem;
      opacity: .8;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 51%;
    margin-top: 8.4375rem;
    &-title {
      width: 20.625rem;
      font-size: 4.5rem;
      line-height: 4rem;
      color: #fff;
      font-family: "Gagalin";
      text-transform: uppercase;
    }
    &-desc {
      margin-top: 2.9375rem;
      width: 28.6875rem;
      height: 9.5625rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #fff;
      font-family: "Ubuntu";
      font-weight: 300;
    }
    &-price {
      margin-top: -1rem;
      font-size: 4.5rem;
      letter-spacing: -0.125rem;
      line-height: 1.75rem;
      color: #e35028;
      font-family: "Gagalin";
      display: flex;
      & h3 {
        margin-top: 1rem;
        margin-left: 0.625rem;
        font-size: 1.9375rem;
      }
    }
    &-button {
      position: absolute;
      width: 6.0625rem;
      height: 2.1875rem;
      margin-top: 20.5rem;
      margin-left: 14.375rem;
      background-color: #e45028;
    }
  }
}