.black-burger {
  background: url('../../img/backgrounds/dark-beef-bg.png');
  background-position-y: 33%;
  background-position-x: 30%;
  width: 1100px;
  margin: 0 auto;
  position: relative;
  &__img {
    position: absolute;
    top: 168px;
    left: 4.2%;
  }
  &__icon {
    width: 46px;
    height: 44px;
    position: absolute;
    left: 9.2%;
    top: 104px;
    z-index: 1;
    & svg {
      width: 46px;
      height: 41px;
    }
    &::before {
      content: "";
      position: absolute;
      left: -21px;
      top: -14px;
      width: 90px;
      height: 90px;
      border-radius: 5px;
      background-color: #f08c33;
      z-index: -1;
    }
    &::after {
      content: "состав";
      font-size: 14px;
      line-height: 28px;
      color: #ffffff;
      font-family: "Gagalin";
      text-align: center;
    }
  }
  &__calories {
    position: absolute;
    left: 7.2%;
    top: 486px;
    opacity: .6;
    &::before {
      content: "1200";
      position: absolute;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      font-family: "Gagalin";
      text-align: right;
      top: 25px;
      left: 13px;
      opacity: .8;
    }
    &::after {
      content: "ккал";
      position: absolute;
      font-size: 14px;
      line-height: 24px;
      color: #ffffff;
      font-family: "Gagalin";
      text-align: right;
      top: 57px;
      left: 15px;
      opacity: .8;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 51%;
    margin-top: 135px;
    &-title {
      width: 330px;
      font-size: 72px;
      line-height: 64px;
      color: #fff;
      font-family: "Gagalin";
      text-transform: uppercase;
    }
    &-desc {
      margin-top: 47px;
      width: 459px;
      height: 153px;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      font-family: "Ubuntu";
      font-weight: 300;
    }
    &-price {
      margin-top: -16px;
      font-size: 72px;
      letter-spacing: -2px;
      line-height: 28px;
      color: #e35028;
      font-family: "Gagalin";
      display: flex;
      & h3 {
        margin-top: 16px;
        margin-left: 10px;
        font-size: 31px;
      }
    }
    &-button {
      position: absolute;
      width: 97px;
      height: 35px;
      margin-top: 328px;
      margin-left: 230px;
      background-color: #e45028;
    }
  }
}