.menu {
  position: relative;
  background: url('../../img/backgrounds/menu-main.png') 50% no-repeat;
  background-size: cover;
  &__title {
    position: absolute;
    top: 5.6875rem;
    left: 5.9375rem;
    color: #fff;
  }
}