.menu {
  position: relative;
  background: url('../../img/backgrounds/menu-main.png') 50% no-repeat;
  background-size: cover;
  &__title {
    position: absolute;
    top: 91px;
    left: 95px;
    color: #fff;
  }
}