.slide1 {
  position: relative;
  display: flex;
  top: 4.75rem;
  left: 29.875rem;
  &__burger {
    position: absolute;
    left: -24.5625rem;
    top: 0.625rem;
    width: 28.8125rem;
    height: 26.5rem;
    background: url('../../img/burgers/drops.png') no-repeat;
    background-position-x: 0.625rem;
    background-position-y: 3.625rem;
    &-img {
      width: 26rem;
      height: 26.5rem;
      margin-top: -0.5625rem;
      margin-left: 2.75rem;
    }
  }
  &__sign {
    margin-top: 4.0625rem;
    margin-left: 2.5rem;
    .title {
      color: #f9b43b;
    }
    .subtitle {
      margin-top: 1.375rem;
      line-height: 0.99;
      font-size: 3.9375rem;
      color: #fff;
      font-family: "Lifehack";
      font-weight: 500;
    }
  }
}