.footer {
  margin-top: 5.5%;
  background: #5973b1;
  color: #fff;
}

.footer__copyright {
  margin: -0.3% 0 0 1.7%;
  font-size: 14px;
  width: 21.2%;
}

.footer__copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer__logo-footer {
  margin-top: 23px;
  margin-left: 787px;
}