.header {
  width: 100%;
  background: #5973b1;
  color: #fff;
  margin-bottom: 14px;
}

.header__left,
.header__right {
  width: 50%;
  display: flex;
}

.logo {
  margin: 1.7%;
  flex: 1;
}

.contacts {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: inherit;
  font-weight: 500;
  font-style: normal;
}

.contacts__dropdown-menu {
  position: relative;
  display: inline-block;
}

.contacts__phone {
  margin: 13px 20px 20px 0;
  color: #fff;
  height: 40px;
  font-size: 21px;
  text-decoration: none;
}

.contacts__working-hours {
  margin-top: -32px;
  margin-right: 20px;
  font-size: 14px;
  opacity: .7;
  transition: opacity .6s;
}

.contacts__dropdown-menu:hover .contacts__working-hours {
  color: #fff;
  transition: opacity .6s;
  opacity: 1;
}

.contacts__dropdown-menu:hover .contacts__working-hours-down:before {
  left: 62px;
}

.contacts__dropdown-menu:hover .contacts__working-hours-down {
  left: -62px;
  opacity: 1;
}

.contacts__working-hours-down {
  position: absolute;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  left: -9999px;
  opacity: 0;
  transition: opacity .6s;
  background: #fff;
  border-radius: 3px;
  padding: 17px;
  width: 166px;
  margin-top: 0px;
  top: 100%;
}

.contacts__working-hours-down:after {
  content: "";
  display: block;
  height: 100px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}

.contacts__working-hours-down:before {
  position: absolute;
  display: block;
  content: "";
  border: 8px solid transparent;
  border-bottom-color: #fff;
  height: 40px;
  width: 0;
  right: 0;
  top: -55px;
  margin-left: 82px;
}

.working,
.dinner {
  font-size: 14px;
  margin-left: 3px;
}

.working {
  color: #3a5bbf;
}

.dinner {
  color: #000;
  font-weight: normal;
}