.block-title__last-news {
  margin-top: 1.1%;
}

.last-news {
  margin-top: 5.2%;
}

.last-news li {
  display: inline-flex;
  width: 33%;
}

.single-news {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.single-news__news-logo {
  overflow: hidden;
  align-self: center;
  width: 160px;
  margin-left: -4%;
  border-radius: 50%;
}

.single-news__news-content {
  margin-top: 15%;
  width: 90%;
  color: #656464;
  font-weight: 300;
}

.single-news__news-date {
  font-size: 14px;
}

.single-news__news-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 3px;
  line-height: 1.2;
}

.single-news__content {
  margin-top: -2%;
  line-height: 21px;
  font-size: 14px;
}