.top-menu ul {
  margin-top: 13px;
}

.menu li {
  margin: 0 6% 0 0;
}

.menu__link {
  color: #5972b1;
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.menu__link:hover {
  color: black;
}

.menu__link:before {
  content: "";
  display: inline-flex;
  margin: -1px 12px 0 -14%;
  width: 24px;
  height: 18px;
  background: left center / contain no-repeat;
}

.menu__item--active .menu__link {
  color: black;
}

.menu__item--active .menu__link:before {
  filter: brightness(0);
}

.menu__item--icon--main .menu__link:before {
  background: url('../../img/icons/css_sprites.png') -10px -10px;
}

.menu__item--icon--feed .menu__link:before {
  background: url('../../img/icons/css_sprites.png') -80px -10px;
}

.menu__item--icon--team .menu__link:before {
  background: url('../../img/icons/css_sprites.png') -120px -10px;
}

.bg-main_icon_white {
  width: 15px; height: 14px;
  background: url('css_sprites.png') -45px -10px;
}