.review {
  position: relative;
  color: #fff;
  &:hover {
    .review__pic {
      opacity: .4;
    }
    .review__hover {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__hover {
    position: absolute;
    top: 2.5625rem;
    left: 1.1875rem;
    right: 0;
    bottom: 0;
    transform: scale(0.8);
    transition: .3s;
    opacity: 0;
    @include tablets {
      padding: 0 14%;
      left: 0;
      top: 1.625rem;
      text-align: center;
      align-items: center;
    }
  }
  &__pic {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    @include phones {
      transform: scale(1.5, 1);
    }
  }
  &__name {
    font-size: 0.875rem;
    line-height: 1.75rem;
    color: #fff;
    font-family: "Gagalin";
    @include phones {
      font-size: 1.5rem;
      margin-top: 0.8125rem;
    }
  }
  &__content {
    width: 14.5625rem;
    height: 10rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #fff;
    font-family: "Ubuntu";
    font-weight: 300;
    @include tablets {
      margin-top: -0.625rem;
      margin-bottom: 1.625rem;
      width: 100%;
      height: auto;
    }
    @include phones {
      display: none;
    }
  }
}