.testIP .ui-state-active {
    border: 1px solid #aaa;
    background: #fff url(../ui-icons_444444_256x240.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #212121;
}
.testIP .ui-widget-content {
    border: 1px solid #aaa;
}
.testIP .ui-icon {
    background-image: url("../images/ui-icons_444444_256x240.png");
    margin-bottom: 4px;
}
.testIP .ui-accordion-header {
    background: #e6e6e6;
}
.testIP .views-accordion-header, .ckeditor-accordion-toggler {
    color: #555;
}
.testIP .views-accordion-header:hover, .testIP .ckeditor-accordion-toggler:hover {
    /*border:1px solid #999;*/
    background: #dadada;
    /*color: #212121;*/
}
.testIP .ui-widget-content a {
    color: #005c9d;
}
.testIP .ui-widget-content a:hover, .testIP .ui-widget-content a:focus {
    color: #c01700;
}
.testIP .prev-img{
    padding: 0 15px;
    float: left;
}
.h3ip {
    font-size: 1.6em;
    padding: 5px;
}