@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;500;700&display=swap');
/* */
/*  */
/* line 12, ../sass/includes/_include.scss */
.box_shadow {
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}

/* line 16, ../sass/includes/_include.scss */
.border_radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 21, ../sass/includes/_include.scss */
.font_oswald, h1, .h1, h2, .h2, h3, .h3 , label{
  /*font-family: 'oswaldregular';
  font-family: Georgia regular;*/
  font-family: 'Open Sans', sans-serif;
}

/* BUTTON */
/* line 27, ../sass/includes/_include.scss */
.form-actions .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #c01700;
  border-radius: 0;
  -webkit-border-radius: 0;
  cursor: pointer;
}
/* line 36, ../sass/includes/_include.scss */
.form-actions .form-submit:hover, .form-actions .form-submit:focus {
  background-color: #555555;
}

/* line 41, ../sass/includes/_include.scss */
.font_awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* html.scss */
/* line 4, ../sass/html.scss */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #555555;
  background: #f6f6f6;
}

/* line 12, ../sass/html.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../sass/html.scss */
header, nav, section, article, figure, aside, footer {
  display: block;
}

/* line 20, ../sass/html.scss */
a {
  color: #005c9d;
}
#block-razrabotanomauimc a, #block-staraaversiasaita a{
    color: #999999;
}

/* line 23, ../sass/html.scss */
#block-razrabotanomauimc a:hover, #block-staraaversiasaita a:hover,#block-remote-support a:hover,
#block-remote-support a:focus, #block-razrabotanomauimc a:focus, 
#block-staraaversiasaita a:focus, a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #c01700;
}

/* line 28, ../sass/html.scss */
h1, .h1 {
  font-size: 1.84em;
}

/* line 31, ../sass/html.scss */
h1, .h1, h2, .h2, h3, .h3, label {
  margin: 0 0 15px;
  line-height: 1.3;
}

/* line 36, ../sass/html.scss */
h2, .h2 {
  font-size: 1.57em;
}

/* line 40, ../sass/html.scss */
caption, h3, .h3 {
  font-size: 1.428em;
}

/* line 43, ../sass/html.scss */
h4, h5, h6 {
  margin-bottom: 15px;
  font-size: 1em;
}

/* line 48, ../sass/html.scss */
address {
  margin-bottom: 15px;
}

/* line 52, ../sass/html.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 57, ../sass/html.scss */
input, button, select, textarea {
  padding: 6px;
  border: 1px solid #ddd;
  appearance: none;
  color: #999999;
}
.form-select::-ms-expand {
	border-radius: 10px; /* Радиус скругления */
    background: #7cbc0a; /* Цвет фона */
    color: #fff; /* Цвет текста */
}
/* line 61, ../sass/html.scss */
label {
  font-weight: normal;
}

/* line 64, ../sass/html.scss */
p {
  margin-bottom: 15px;
}
.WidthLine{
	margin-bottom: 15px;
	height: 65px;
	text-align:center;
}
.field--type-text-long{
	margin-bottom: 20px;
}
.field--name-field-fotografii{
	text-align:center;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.field--name-field-fotografii img{
	margin: 1em;
	float: left;
}
.newsicon{
	text-align:center;
}
.news-page {
    height: 115px;
    overflow: hidden;
}
.preview-new{
    text-align: center;
}
.place-news {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.view-novosti-glavnoi-stranicy .more-link{
	border-top: 1px solid #dadada;
	border-top-style: dotted;
	padding-top: 10px;
	display: block;
	text-align:left;
}
/*Настройка Подробнее в новостях*/
.news-background{
    display: flex;
    align-items: center;
}
.news-podrobnee {
    position: absolute;
    bottom: 0;
    right: 20px;
	/*float: left;*/
	/*padding-bottom: 0.5em;*/
}
.Block-pod .news-podrobnee {
	position: absolute;
	bottom: -12px;
}
/*.txt-srez{*/
/*	overflow: hidden;*/
/*	height: 540px;*/
/*}*/
.skin-default {
  overflow: hidden;
}
.views_slideshow_cycle_slide{
  width: inherit !important;
}
#block-views-block-novosti-glavnoi-stranicy-block-1 .more-link{
	border-top: 1px solid #dadada;
	border-top-style: dotted;
	padding-top: 10px;
	display: block;
	text-align: right;
}
#block-views-block-novosti-glavnoi-stranicy-block-1 h2{
	border-bottom: 1px solid #dadada;
	border-bottom-style: dotted;
	padding-bottom: 10px;
	display: block;
	text-align: center;
}
.txt-news-res{
	overflow: hidden;
    height: 93px;
}
/*.page-bottom{
	padding-bottom:20px;
}*/
.block-views-blocknovosti-glavnoi-stranicy-block-1 {
	/* width: 75%; */
	box-shadow: 1px 1px 4px #666666;
	padding: 10px;
	margin-bottom: 35px;
}
.Block-pod{
	margin: 15px 0 15px 0;
}
.Block-pod h2{
	text-align:center;
	font-size:1.3em;
}
.h3m .h2{
	font-size:1.3em;
}
.Block-pod {
	border-right: 1px solid #dadada;
	border-right-style: dotted;
}
#block-detskiitelefondoveria {
    border-right: none;
	border-right-style: none;
}
#block-uslugipooo {
	border-right: 1px solid #dadada;
	border-right-style: dotted;
	border-left: 1px solid #dadada;
	border-left-style: dotted;
}
#block-uslugipodoo{
	border-right: none;
	border-right-style: none;
}
.field--name-field-prevu-novosti a{
	display:none;
}
.blacknwhite {
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
}
.white{
  background-color:#FFF !important
}
.white #main-menu,.white #main-menu li a,
.white #panel_first .container, .white #panel_first .container .links-bloks h3, .white #panel_first .container li a {
  color:#000 !important;
  background-color:#FFF !important
}
.black{
  background-color:#000 !important
}
.black #main .container,
.black #main-menu,.black #main-menu li a,
.black #panel_first .container, .black #panel_first .container .links-bloks h3, .black #panel_first .container li a {
  color:#fff !important;
  background-color:#000 !important
}
.green{
  background: rgb(59, 39, 22) none repeat scroll 0% 0% !important;
  color:#A9E44D !important;
}
.green section #main div,
.green #main-menu,.green #main-menu li a,
.green #panel_first .green, .green #panel_first .container .links-bloks h3, .green #panel_first .container li a {
    border: 1px solid #A9E44D !important;
    color:#A9E44D !important;
    background: rgb(59, 39, 22) none repeat scroll 0% 0% !important;
}

.blue{
  background: rgb(157, 209, 255) none repeat scroll 0% 0% !important;
  color:#195183 !important;
}
.blue #main .container div,
.blue #main-menu,.blue #main-menu li a,
.blue #panel_first .container, .blue #panel_first .container .links-bloks h3, .blue #panel_first .container li a {
    color:#195183 !important;
    background: rgb(157, 209, 255) none repeat scroll 0% 0% !important;
}
#block-pdd{
    border-right:none;
    border-right-style:none;
}
.image-style-dla-novostei-220x220 {
    float: left;
    margin: 1%;
}
/*Размер слайдов в зависимости Slid от экрана*/
@media screen and (min-width: 310px) and (max-width: 480px){
  .views_slideshow_cycle_main{
    display:none;
  }
  .views-field-title{
    width:100%
  }
  .views-change-img {
    text-align: center;
    height: 40px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px){

  .views_slideshow_cycle_main{
    display:none;
  }
  .views-field-title{
    width:100%
  }
  .views-change-img {
    text-align: center;
    height: 75px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .txt-srez{
    height:800px;
  }
  .views-change-img {
    text-align: center;
    height: 75px;
  }
}
@media screen and (min-width: 1024px){
   .views-change-img {
        text-align: center;
        height: 73px;
    } 
}
.vidStrok {
    box-shadow: 1px 1px 4px #666666;
    padding: 10px;
    margin: 10px;
}
.node--type-main-news {
	text-align: justify;
}

/*blok_links_css*/
.links-bloks {
	/*width: 30%;*/
	padding: 10px;
	float: left;
	/*box-shadow:1px 1px 4px aliceblue;*/
	color: #fff;
	/*margin-left: 2px;
	margin-right: 2px;
	border-radius: 20px;*/
}
.blok-links-link {
	display: list-item;
	margin-left: 15px;
}
.blok-links-link a{
	color:#fff; 
	text-decoration: none;
}
.blok-links-link a:hover{
	color:red; 
	text-decoration: none;
}
.views-row {
	overflow: hidden; 
	text-overflow: ellipsis;
	/*max-height: 250px;*/
}
/*Учреждения*/
.displ{
	display:none;
}

.VisiblDoo .view-content{
	height:700px;
	overflow:auto;
}
.vidStrok:hover {background: #f0f0f0}
/*пробушки для eor*/

.v1v1 {
	position:absolute;
	visibility:hidden;
	bottom: 0;
	right: 0;
	border-radius:10px;
}
.v1v{
	width:220px;
	height:145px;
	text-align:center;
	position:relative;
	margin: 1em;
}

.v1v:hover .v1v1{
	visibility:visible;	
	width:220px;
	height:145px;
	background: rgba(240, 240, 240, 0.9);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.v1v1v1 {
	/* margin-top: .4em; */
	position: absolute;
	/* text-align: center; */
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 10%;
	/* vertical-align: baseline; */
}
/*Акардион*/
.views-accordion-header, .ckeditor-accordion-toggler {color: #fff;}
.views-accordion-header:hover, .ckeditor-accordion-toggler:hover{
    background: #21c1f4;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.ui-button:focus, .ckeditor-accordion-toggler:focus, .ckeditor-accordion-container > dl dt > a {
	border: 1px solid #cccccc/*{borderColorHover}*/;
	background: #005c9d/*{bgColorHover}*/ /*{bgImgUrlHover}*/ /*{bgHoverXPos}*/ /*{bgHoverYPos}*/ /*{bgHoverRepeat}*/;
	font-weight: normal/*{fwDefault}*/;
	color: #fff/*{fcHover}*/;
}
.ckeditor-accordion-container > dl dt.active > a, .ckeditor-accordion-container > dl dt > a:hover {
    background: #21c1f4;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.ui-accordion-header {
    background: #005c9d;
}
.ui-state-active {
    background: #21c1f4;
}
.ui-widget-content {
    border: 1px solid #005c9d;
}
#block-title {
    text-align: center;
}

.ckeditor-accordion-container > dl dd {
    margin-top: 15px;
}
/*�ࠢ��� ��� ��� ������ ���*/
#views-exposed-form-eor-new-page-1 .form-actions {
    clear: none;
}

#views-exposed-form-eor-new-page-1 .form-actions .button {
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 6px 20px;
}
.testIP .ui-state-active {
    border: 1px solid #aaa;
    background: #fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #212121;
}
/*�ਬ���� Flex ��� �������*/
.region-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
}
.region-dop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_css {
    margin-right: 25px;
}
#search-block-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.form-item, .form-actions {
    margin:0;
}
.form-search{
    margin-right:5px;
}
/*.logo_css:first-child {
    margin-right: 0;
}*/

[src^="/sites/default/files/inline-images/Asset"] {
    width: 80%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.parental-control__content {
    display: flex;
}
.parental-control__img img {
    width: 100%;
}
.parental-control__content {
    display: flex;
    align-items: flex-end;
}
.parental-control__img {
    flex-basis: 50%;
}
.field.field--name-field-fotografii-pager {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.field.field--name-field-fotografii-pager .field__item {
    margin: 0 1%;
}
/*youtube*/
.parental-control__youtube {
        display: flex;
        justify-content: center;
    }
    .parental-control__youtube iframe {
        width: 98%;
        height: 350px;
        margin-bottom: 25px;
    }

@media screen and (min-width: 750px) {
    .parental-control__youtube {
        display: flex;
        justify-content: center;
    }
    .parental-control__youtube iframe {
        width: 80%;
        height: 400px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    
}
@media screen and (min-width: 1000px) {
    .parental-control__youtube {
        display: flex;
        justify-content: center;
    }
   
    .parental-control__youtube iframe {
        width: 60%;
        height: 400px;
        margin-bottom: 25px;
    }
    [src^="/sites/default/files/inline-images/Asset"] {
        width: 50%;
        margin-bottom: 15px;
    }
   
}
td p{
    margin:0;
}

.go-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #ccc;
}
.go-page__col {
    max-width: 320px;
}
.go-page__link {
    filter: grayscale(0);
    transition: filter 1s ease;
}
.go-page__link:hover {
    filter: grayscale(1);
    transition: filter 1s ease;
}

.logo {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    width: 81px;
    padding: 8px 0;
}

.logo img {
    width:77px;
}
#block-search {
    width: 40px;
    align-self: center;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
#block-search:hover {
    background: -webkit-linear-gradient(top, #005c9d, #21c1f4);
}
.wedu-block__video .video-embed-field-provider-youtube iframe {
    width: 100%;
}

@media screen and (min-width: 750px) {
    .wedu-block__video {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .wedu-block__video .video-embed-field-provider-youtube{
        width:49%;
    }
    
    .wedu-block__video .video-embed-field-provider-youtube iframe {
        width: 100%;
        height: 290px;
    }
}

/*.ui-state-active .ui-icon{*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    padding: 0 10px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    z-index: 1;*/
/*    top: calc(50% - 1px);*/
/*    left: 11px;*/
/*    box-sizing: border-box;*/
/*}*/