.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80% !important;
}

.overlay > div {
  background: #005c9d !important;
  color: #fff;
}

.overlay .ui-helper-clearfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
}

.overlay .ui-helper-clearfix::after {
  content: none;
}

.overlay .ui-helper-clearfix::before {
  content: none;
}

.overlay .ui-helper-clearfix .ui-dialog-title {
  float: none;
  margin: 0;
}

.overlay .ui-dialog-titlebar-close {
  position: inherit;
  margin: 0;
  background-color: #fff;
  top: 0;
  right: 0;
}

.overlay .ui-dialog-titlebar-close:focus {
  outline: none;
}

.overlay .ui-dialog-titlebar-close:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: #fff;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
  right: 9px;
}

.overlay .ui-dialog-titlebar-close:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: #fff;
  height: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
  right: 9px;
}

.overlay .ui-dialog-titlebar-close:hover::after {
  background-color: #c01700;
}

.overlay .ui-dialog-titlebar-close:hover::before {
  background-color: #c01700;
}

.content__overlay {
  width: 100% !important;
  height: 100% !important;
  padding: 10px;
}

.region-main-menu {
  position: relative;
}

#block-search {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#block-formapoiska {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#block-formapoiska.search-block-form--active {
  position: absolute;
  width: 100%;
  height: 90px;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 6px;
  border-bottom: 2px solid #005c9d;
  margin-bottom: 28px;
  margin-left: 30px;
  margin-right: 30px;
}

#search-block-form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  margin: 0;
}

#search-block-form .form-item input {
  width: 100%;
  padding: 0;
  margin-left: 40px;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: "philosopher";
  font-size: 18px;
  color: #005c9d;
  opacity: 0.8;
}

#search-block-form .form-item input:focus {
  opacity: 1;
}

#search-block-form #edit-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}

#search-block-form #edit-actions:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: url(./../images/buttom/search_blue.png) no-repeat;*/
  background-size: 20px;
  background-position: center;
}

#search-block-form #edit-actions input {
  opacity: 0;
  width: 20px;
  padding: 0;
}

.search-block-form__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 28px;
  right: 30px;
  font-size: 25px;
  color: #005c9d;
}

.news {
  padding-top: 31px;
}

.news .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news .more-link {
  border: none;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 70px;
}

.news .more-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-top-style: dotted;
  border-bottom-style: dotted;
  background-color: transparent;
  color: #005c9d;
  font-size: 20px;
}

.news .more-link a:hover {
  background-color: #005c9d;
  color: #ffffff;
  border-top: 1px solid #005c9d;
  border-bottom: 1px solid #005c9d;
  -webkit-box-shadow: 0 0 10px #005c9d;
          box-shadow: 0 0 10px #005c9d;
}

.news-block {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 288px;
  margin-bottom: 66px;
  font-weight: 400;
}

.news-block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.news-block:hover .news-block__title {
  text-decoration: underline;
  color: #005c9d;
}

.news-block__img {
  max-height: 288px;
  margin-bottom: 33px;
}

.news-block__img img {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #c4c4c4;
          box-shadow: 0 0 10px #c4c4c4;
}

.news-block__main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90%;
}

.news-block__content .news-block__title {
  font-size: 1.285712em;
  color: #000;
}

.news-block__content p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.14285714em;
  color: #4b545c;
}

.news-block__footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.14285714em;
  font-weight: 400;
  color: #005c9d;
}

.news-block__footer .news-block__publish {
  min-width: 133px;
  width: 50%;
  padding-right: 1%;
  margin-right: 11%;
  border-right: 1px solid #6c757d;
}

.news-block__footer .news-block__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-block__footer .news-block__views::before {
  content: "";
  display: block;
  width: 21.02px;
  height: 14.78px;
  margin-right: 7px;
  background-image: url("../images/eye.png");
  background-size: cover;
  background-position: center;
}

.sf-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.go-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #ccc;
}

.go-page__col {
  max-width: 320px;
}

.go-page__link {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease;
  transition: filter 1s ease;
  transition: filter 1s ease, -webkit-filter 1s ease;
}

.go-page__link:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease;
  transition: filter 1s ease;
  transition: filter 1s ease, -webkit-filter 1s ease;
}

#block-zircon-main-menu .menu .menu-item--active-trail .menu .menu-item [href="/info_security"] + .menu {
  display: none;
}

#main-menu #block-zircon-main-menu .menu-item--expanded .menu-item--active-trail > [href="/info_security"]::before {
  display: none;
}

.menu-item .menu {
  display: none;
}

.menu-item--active-trail .menu {
  display: block;
}

table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

caption,
th {
  font-family: 'Open Sans', sans-serif;
}
/*# sourceMappingURL=mystyle.css.map */